@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;800&display=swap');


body{
    font-family: "poppins",sans-serif;
    background-color: rgba(255, 255, 255, 0.822);
    display: flex;
    justify-content: center;
    min-height: 100vh;

}

.pokedex{

    display: flex;
    gap: 30px;
    padding: 30p0x;
}